<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Prediction</title>
    <link rel="stylesheet" href="../static/css/cropprediction5.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div class="header">
        <div class="logo">JKN</div>
        <div class="home">
          <i class="fa fa-home"><a href='/'>Home</a></i>
        </div>
    </div>

    <h1>Crop Recommendation</h1>

    <div class="output">
      <div class="text-content">
      </div>
    </div>

    <div class="btns">
        <button class="btn" onclick="predictAgain()">Predict Again</button>
    </div>


    <nav class="progress-bar">
        <ul>
            <li><a href="#" class="active"></a></li>
            <li><a href="#" class="active"></a></li>
            <li><a href="#" class="active"></a></li>
            <li><a href="#" class="active"></a></li>
            <li><a href="#" class="active"></a></li>

        </ul>
    </nav>

    <script>

      fetch("/croprecommendation")
      .then((res)=>res.json().then(data=>{

          let v1=data[0]['crop_name'].toUpperCase()+' : '+data[0]['variety'];
          let v2=data[1]['crop_name'].toUpperCase()+' : '+data[1]['variety'];
          let v3=data[2]['crop_name'].toUpperCase()+' : '+data[2]['variety'];

          let container=document.querySelector(".text-content");
          let ele1=document.createElement("p");
          let text1=document.createTextNode(v1);
          let ele2=document.createElement("p");
          let text2=document.createTextNode(v2);
          let ele3=document.createElement("p");
          let text3=document.createTextNode(v3);
          ele1.appendChild(text1);
          ele2.appendChild(text2);
          ele3.appendChild(text3)
          container.appendChild(ele1);
          container.appendChild(ele2);
          container.appendChild(ele3);
          ele1.style.padding='10px';
          ele2.style.padding='10px';
          ele3.stype.padding='10px';
        }))

      function predictAgain(){
          location.href="/cropprediction1";
      }


    </script>

</body>
</html>
