<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Areas</title>
    <link rel="stylesheet" href="../static/css/studyarea.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

    <div class="outerdiv">
        <div class="logo">
            <h2>JKN</h2>
        </div>

        <div class="home">
            <i class="fa fa-home"><a href='/'>Home</a></i>
        </div>

        <div class="container">
            <h1><a href="/aboutus">About Us</a></h1><br><br>
        <div class="content">
        <h3>Study Areas</h3><br>
         <p> We conducted our study in the areas of <span>north-western U.P</span>. and gathered some data. The
           areas included locals of <span>Banar, Jhinjana, Tana, Kaswerwa Kalan, Badheo and other rural areas of Shamli</span>.
           After analysing data we concluded to some major problems in the <span>agriculture sector</span>. The two of the major
           problems that came out were <span>inability to detect the right disease</span> in the crop and <span>poor
             selection of crops</span> provided specific weather and soil conditions.
            So, we arrived at a <span>cost-free</span> and <span>efficient solution</span> that would target those problems.
        </p>
    </div>
</div>


</body>
</html>
