<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What we do</title>
    <link rel="stylesheet" href="../static/css/whatwedo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

    <div class="outerdiv">
        <div class="logo">
            <h2>JKN</h2>
        </div>

        <div class="home">
            <i class="fa fa-home"><a href='/'>Home</a></i>

        </div>

        <div class="container">
            <h1><a href="/aboutus">About Us</a></h1>
            <br><br>
        <div class="content">
        <h3>What We Do?</h3><br>
        <p> We are a group of a college students who have successfully designed a web application to produce the <span>
          best-suited crops to farmers according to their needs</span> and <span>to stop the spreading of disease in their crops.</span> </p><br>
        <p>We have designed a <span>Machine Learning Model</span> to <span>recommend the
            best-suited crops </span>to the farmers according to their <span>environmental</span> and
        <span>soil conditions </span>. Also we added a <span>second machine learning model</span> that aims at <span>detecting
        disease in the crops given a picture of the diseased leaf.</span> </p>
    </div>
</div>

</body>
</html>
